    html {
      box-sizing: border-box;
      background: #ffc600;
      font-family: 'helvetica neue';
      font-size: 20px;
      font-weight: 200;
    }

    body {
      margin: 0 auto;
      width: 850px;
    }

    *, *:before, *:after {
      box-sizing: inherit;
    }

    input {
      width: 100%;
      padding: 20px;
	    margin: 0 10px;
    }
	
	button {
	  margin: 0 10px;
	  outline: 0;
      border: 10px solid #F7F7F7;
	  border-radius: 5px;
      font-size: 22px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
	}

    .search-form {
      display: flex;
	  justify-content: center;
	  margin-top: 80px;
    }

    input.search {
	  max-width: 400px;
      text-align: center;
      outline: 0;
      border: 10px solid #F7F7F7;
      top: 10px;
      z-index: 2;
      border-radius: 5px;
      font-size: 40px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
    }

    .hl {
      background: #ffc600;
    }

    #result {      
      padding-top: 50px;
      display: flex;
      justify-content: center;
      width: 100%;
    }

    div.days {
      width: 25%;
      padding: 0 10px;
      margin-left: 20px;
      text-align: center;
      background: rgb(241, 241, 241);
      border: 5px solid rgb(219, 219, 219);
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
    }

    div.days:hover {
      cursor: pointer;
    }

    .degreeIcon {
      height: 15px;
      width: 15px;
      padding-left: 2px;
    }