table {
    width: 80%;
    margin: 0 auto;
}

table, td, th {
    border: 1px solid black;
}

th, td {
    padding: 3px;
}

.legend {    
    margin-left: 180px;
    margin-top: 20px;
}

span {
    display: block;
    padding: 2px 0;
}

.header {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.task12 {
    margin-left: 180px;
}

.result {
    margin-top: 10px;
}
